{% extends "base.html" %}

{% block title %}Home{% endblock title %}

{% block body %}
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    {%for carousel in carouselObj %}
    <div class="carousel-item active">
      <img src="{{carousel.image.url}}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>{{carousel.name}}</h5>
        <p>{{carousel.description}}</p>
      </div>
    </div>
   {%endfor%}
  </div>
</div>
<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Previous</span>
</button>
<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Next</span>
</button>
</div>
<div class="container my-4">
  <h3 class="my-2 text-center">Select from our collection of IceCream</h3>

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    {% for i in obj %}
      <div class="col">
        <div class="card shadow-sm">
          <img src="{{i.icecream_photo.url}}" class="d-block w-100" alt="...">
          <div class="card-body">
            <p class="card-text">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">{{i.description}}</font>
              </font>
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary" fdprocessedid="q4eleq">
                  <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Offer Price Rs {{i.offer_price}}</font>
                  </font>
                </button>
                <button type="button" class="btn btn-sm btn-outline-secondary" fdprocessedid="ukzsys">
                  <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Rs {{i.price}}</font>
                  </font>
                </button>
              </div>
              <small class="text-body-secondary">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">{{i.created_date}}</font>
                </font>
              </small>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
    
  </div>
</div>


{% endblock body %}